@import url("https://fonts.googleapis.com/css?family=Roboto:300&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700&subset=cyrillic");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  padding: 0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.social {
  margin: 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social img {
  margin: 0 15px;
}

.slick-slide {
  margin: 0px 13px;
}

body {
  background: #ffffff;
  padding: 0;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basket {
  position: absolute;
  right: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.basket-count {
  display: inline-block;
  font-size: 24px;
  color: #333333;
  font-weight: 700;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  background: url("../img/basketCircle.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  padding: 0 5px 2px 5px;
}

header {
  min-height: 95vh;
  max-height: 931px;
  background: url("../img/BgTop.svg") no-repeat;
  background-size: cover;
  position: relative;
  background-position: bottom;
  padding: 0;
}

.header-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px 0px 20px;
  margin-bottom: 25px;
  -webkit-transition: .4;
  transition: .4;
  position: relative;
}

.header-menu-item {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0px 30px;
  text-align: center;
}

.header-menu-item > a {
  color: #ffffff;
  text-decoration: none;
}

.header-menu-item > a:hover {
  color: #333333;
}

.header-menu.invisible {
  opacity: 1;
  z-index: 2;
}

.header-menu.fixed.Show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: Show .4s forwards;
          animation: Show .4s forwards;
}

.header-menu.fixed {
  background: #F97B3F;
  position: fixed;
  z-index: 3;
  left: 50%;
  display: none;
  opacity: 0;
  padding-bottom: 27px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-menu-item.Logo {
  font-size: 72px;
  margin: 0px 40px;
}

.header-menu-item.Logo > a:hover {
  color: #ffffff;
}

.header-menu-item.Soon {
  position: relative;
}

.header-menu-item.Soon > a {
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}

.header-menu-item .Soon {
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-text {
  z-index: 2;
  font-family: "Roboto",Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #6D3400;
  background: url("../img/bgText.svg") no-repeat;
  background-size: contain;
  padding: 25px 32px 40px 55px;
  display: inline-block;
  margin-bottom: 70px;
}

.header-label span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: url("../img/label.svg") no-repeat;
  background-size: contain;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 32px 25px 25px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 40px;
}

.header-label span img {
  margin-left: 15px;
}

.header-skin {
  position: absolute;
  right: 0;
  bottom: 2vh;
}

.header-skin img {
  width: 769px;
  height: 765px;
}

.header-slider-item {
  margin-left: 10px;
  min-width: 300px;
  width: 548px;
  max-width: 548px;
  height: 320px;
  position: relative;
  padding-left: 16px;
  font-family: 'Oswald',Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 20px rgba(102, 1, 128, 0.4);
          box-shadow: 0px 0px 20px rgba(102, 1, 128, 0.4);
}

.header-slider-item.purple {
  color: #6E0E87;
  background: #CD40F1;
}

.header-slider-item.gold {
  color: #9D5E00;
  background: #FFC121;
}

.header-slider-item-bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  max-width: 360px;
  height: 100%;
}

.header-slider-item-title {
  position: relative;
  z-index: 1;
  padding-top: 35px;
  font-size: 64px;
  margin-bottom: 15px;
}

.header-slider-item-subtitle {
  position: relative;
  z-index: 1;
  font-size: 24px;
  margin-bottom: 20px;
  padding-left: 3px;
}

.header-slider-item-rating {
  position: relative;
  z-index: 1;
  display: block;
  margin-bottom: 30px;
}

.header-slider-item-rating svg {
  width: 17px;
  height: 17px;
  margin-right: 4px;
}

.header-slider-item-rating svg path {
  fill: #FFF500;
}

.header-slider-item-prevPrice {
  font-size: 24px;
  padding: 0 10px;
  z-index: 1;
  position: relative;
  margin-left: -10px;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.7);
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #6E0E87;
  display: inline-block;
  margin-bottom: 20px;
}

.header-slider-item-prevPrice::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  background: url("../img/priceLine.svg") no-repeat;
  background-size: 100%;
  background-position: center center;
}

.header-slider-item-price {
  font-size: 36px;
  position: relative;
  z-index: 1;
  -webkit-text-fill-color: #ffffff;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #6E0E87;
}

.shopCaption {
  font-size: 72px;
  text-transform: uppercase;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  color: #33BAE4;
  text-align: center;
  font-weight: 700;
}

.shopSubtitle {
  font-size: 18px;
  text-align: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.main-label span {
  min-width: 300px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: url("../img/label.svg") no-repeat;
  background-size: contain;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 32px 25px 25px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 40px;
}

.main-label span img {
  margin-left: 15px;
}

footer {
  overflow: hidden;
  background: url("../img/Footer.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 50px;
  min-height: 300px;
}

@-webkit-keyframes Show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */