@import url("https://fonts.googleapis.com/css?family=Roboto:300&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,700&subset=cyrillic");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  padding: 0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.social {
  margin: 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
  position: relative;
}

.social img {
  margin: 0 15px;
}

.slick-slide {
  margin: 0px 13px;
}

body {
  background: #ffffff;
  padding: 0;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basket {
  position: absolute;
  right: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.basket-count {
  display: inline-block;
  font-size: 24px;
  color: #333333;
  font-weight: 700;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  background: url("../img/basketCircle.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  padding: 0 5px 2px 5px;
}

header {
  min-height: 95vh;
  max-height: 931px;
  background: url("../img/BgTop.svg") no-repeat;
  background-size: cover;
  position: relative;
  background-position: bottom;
  padding: 0;
  padding-bottom: 5px;
}

.header-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px 0px 20px;
  margin-bottom: 25px;
  -webkit-transition: .4;
  transition: .4;
  position: relative;
}

.header-menu-item {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0px 30px;
  text-align: center;
}

.header-menu-item > a {
  color: #ffffff;
  text-decoration: none;
}

.header-menu-item > a:hover {
  color: #333333;
}

.header-menu.invisible {
  opacity: 1;
  z-index: 2;
}

.header-menu.fixed.Show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: Show .4s forwards;
          animation: Show .4s forwards;
}

.header-menu.fixed {
  background: #F97B3F;
  position: fixed;
  z-index: 3;
  left: 50%;
  display: none;
  opacity: 0;
  padding-bottom: 27px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-menu-item.Logo {
  font-size: 72px;
  margin: 0px 40px;
}

.header-menu-item.Logo > a:hover {
  color: #ffffff;
}

.header-menu-item.Soon {
  position: relative;
}

.header-menu-item .Soon {
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-menu-item .Soon > a {
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}

.header-text {
  z-index: 2;
  font-family: "Roboto",Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #6D3400;
  background: url("../img/bgText.svg") no-repeat;
  background-size: contain;
  padding: 25px 32px 40px 55px;
  display: inline-block;
  margin-bottom: 70px;
}

.header-label span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: url("../img/label.svg") no-repeat;
  background-size: contain;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 32px 25px 25px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 40px;
  margin-bottom: 30px;
}

.header-label span img {
  margin-left: 15px;
}

.header-skin {
  position: absolute;
  right: 0;
  bottom: 2vh;
}

.header-skin img {
  width: 769px;
  height: 765px;
}

.header-slider-item {
  margin-left: 10px;
  min-width: 300px;
  width: 548px;
  max-width: 548px;
  height: 320px;
  position: relative;
  padding-left: 16px;
  font-family: 'Oswald',Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 20px rgba(102, 1, 128, 0.4);
          box-shadow: 0px 0px 20px rgba(102, 1, 128, 0.4);
}

.header-slider-item.purple {
  color: #6E0E87;
  background: #CD40F1;
}

.header-slider-item.gold {
  color: #9D5E00;
  background: #FFC121;
}

.header-slider-item-bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  max-width: 360px;
  height: 100%;
}

.header-slider-item-title {
  position: relative;
  z-index: 1;
  padding-top: 15px;
  font-size: 64px;
  margin-bottom: 15px;
}

.header-slider-item-subtitle {
  position: relative;
  z-index: 1;
  font-size: 24px;
  margin-bottom: 20px;
  padding-left: 3px;
}

.header-slider-item-rating {
  position: relative;
  z-index: 1;
  display: block;
  margin-bottom: 20px;
}

.header-slider-item-rating svg {
  width: 17px;
  height: 17px;
  margin-right: 4px;
}

.header-slider-item-rating svg path {
  fill: #FFF500;
}

.header-slider-item-prevPrice {
  font-size: 24px;
  padding: 0 10px;
  z-index: 1;
  position: relative;
  margin-left: -10px;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.7);
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #6E0E87;
  display: inline-block;
  margin-bottom: 5px;
}

.header-slider-item-prevPrice::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  background: url("../img/priceLine.svg") no-repeat;
  background-size: 100%;
  background-position: center center;
}

.header-slider-item-price {
  font-size: 36px;
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
  -webkit-text-fill-color: #ffffff;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #6E0E87;
}

.header-slider-item-btn {
  width: 240px;
  color: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.header-slider-item-btn span:nth-child(1) {
  padding: 4px 55px;
  background: #FFF500;
  display: inline-block;
  font-family: 'Oswald',Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.header-slider-item-btn span:nth-child(2) {
  padding: 3px 7px;
  background: #FFF500;
  display: inline-block;
  font-family: 'Oswald',Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.slick-dots {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.slick-dots li {
  list-style-type: none;
  margin: 0 5px;
  padding: 0;
  display: inline-block;
}

.slick-dots li button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  background: transparent;
  border: 2px solid #ffffff;
  outline: none;
}

.slick-dots li.slick-active button {
  border: none;
  width: 22px;
  height: 22px;
  background: #ffffff;
}

.sliderNavWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;
}

.prev {
  margin-right: 25px;
}

.next {
  margin-left: 25px;
}

.shopCaption {
  font-size: 72px;
  text-transform: uppercase;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  color: #33BAE4;
  text-align: center;
  font-weight: 700;
}

.shopSubtitle {
  font-size: 18px;
  text-align: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin-bottom: 70px;
}

.shopRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopRow .sortBlock {
  margin-left: 30px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.shopRow .sortBlock span {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  color: #939393;
  margin-right: 20px;
}

.shopRow .sortBlock button {
  background: transparent;
  border: none;
  margin-right: 10px;
  font-size: 18px;
}

.shopRow .sortBlock button img {
  margin-left: 5px;
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop-item {
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  width: 264px;
  padding: 10px;
  height: 539px;
  position: relative;
  background-size: contain;
  background-position-x: left;
  background-position-y: bottom;
  background-repeat: no-repeat;
  font-weight: bold;
  margin: 20px 30px;
}

.shop-item .margin-block {
  height: 43%;
}

.shop-item.purple {
  background-image: url("../img/purpleBg.svg");
  color: #6E0E87;
}

.shop-item.gold {
  background-image: url("../img/yellowBg.svg");
  color: #9D5E00;
}

.shop-item.rare {
  background-image: url("../img/blueBg.svg");
  color: #164D9E;
}

.shop-item-rating {
  position: relative;
  z-index: 1;
  display: block;
  margin-bottom: 50px;
}

.shop-item-rating svg {
  width: 17px;
  height: 17px;
  margin-right: 4px;
}

.shop-item-rating svg path {
  fill: #FFF500;
}

.shop-item-btn {
  width: 100%;
  color: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  font-weight: 700;
  cursor: pointer;
}

.shop-item-btn span:nth-child(1) {
  padding: 5px 55px;
  background: #FFF500;
  display: inline-block;
  font-size: 24px;
  text-transform: uppercase;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}

.shop-item-btn span:nth-child(2) {
  padding: 3px 7px;
  background: #FFF500;
  display: inline-block;
  font-family: 'Oswald',Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

.shop-item-title {
  font-size: 36px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  line-height: 1.5;
  margin-bottom: 10px;
}

.shop-item-price {
  font-size: 36px;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  -webkit-text-fill-color: #ffffff;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #6E0E87;
}

.shop-item > img {
  position: absolute;
  width: 100%;
  height: 264px;
  top: 0;
  left: 0;
}

.main-label span {
  min-width: 300px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: url("../img/label.svg") no-repeat;
  background-size: contain;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 32px 25px 25px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 40px;
}

.main-label span img {
  margin-left: 15px;
}

.banner {
  background: linear-gradient(91.1deg, #DA4EDC 0.13%, #BD0FC1 40.92%);
  height: 230px;
  position: relative;
}

.banner .container {
  padding-left: 10vw;
  padding-right: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.banner-skin {
  z-index: 0;
  position: absolute;
  bottom: 0px;
  left: 0;
}

.banner-left {
  width: 100%;
  float: left;
  clear: both;
  position: relative;
  z-index: 1;
}

.banner-title {
  font-size: 72px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  margin: 20px 0;
}

.banner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-subtitle {
  font-size: 18px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 1.4px;
  max-width: 900px;
  margin-bottom: 20px;
}

.banner-btn {
  font-size: 24px;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  color: #313131;
  font-weight: 700;
  padding: 5px 55px;
  background: #FFF500;
  border: none;
  text-transform: uppercase;
  display: block;
}

.banner-right {
  width: 600px;
  position: relative;
  z-index: 1;
}

.banner .wrapItem {
  -webkit-perspective: 900px;
          perspective: 900px;
  margin-top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.banner .wrapItem .header-slider-item {
  -webkit-transform: rotateY(-15deg) rotateX(13deg) rotateZ(1deg);
          transform: rotateY(-15deg) rotateX(13deg) rotateZ(1deg);
}

footer {
  overflow: hidden;
  background: url("../img/Footer.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-top: 50px;
  min-height: 300px;
}

@-webkit-keyframes Show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1600px) {
  .basket {
    right: 5px;
  }
}
/*# sourceMappingURL=style.css.map */