@import url('https://fonts.googleapis.com/css?family=Roboto:300&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&subset=cyrillic');
$bodybg : #E5E5E5;
$white: #ffffff;
$radialOrangeGradient : radial-gradient(472.50px at 50% 50%, #F9BA3F 0%, #F97B3F 100%);
$purpleGradient:  linear-gradient(91.1deg, #DA4EDC 0.13%, #BD0FC1 40.92%);
$yellow: #FFF500;
$purple: #CD40F1;
$purpleDark: #6E0E87;
$gold :#FFC121;
$goldDark: #9D5E00;
$orange: #F97B3F;
$black1: #333333;
$black2: #313131;
$gray: #939393;
$brown: #6D3400;
$blue: #33BAE4;
$blueDark: #164D9E;
*{
    box-sizing: border-box;
}
html{
    padding: 0;
}
.container{
    max-width: 1920px;
    margin: 0 auto;
}
.social{
    margin: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    position: relative;
    & img{
        margin: 0 15px;
    }
}
.slick-slide{
    margin: 0px 13px;
}
body{
    background: $white;
    padding: 0;
}
.flex-center{
    justify-content: center;
    display: flex;
}
.basket{
    position: absolute;
    right: 30px;
    display: inline-flex;
    align-items: center; 
    cursor: pointer;
    &-count{
        display: inline-block;
        font-size: 24px;
        color: $black1;
        font-weight: 700;
        font-family: "Oswald", Arial, Helvetica, sans-serif;
        background: url('../img/basketCircle.svg');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;
        padding: 0 5px 2px 5px
    }
}
header{
    min-height: 95vh;
    max-height: 931px;
    background: url('../img/BgTop.svg') no-repeat;
    background-size: cover;
    position: relative;
    background-position: bottom;
    padding: 0;
    padding-bottom: 5px;
}
.header-menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 0px 20px;
    margin-bottom: 25px;
    transition: .4;
    position: relative;
    &-item{
        font-family: "Oswald", Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
        margin: 0px 30px;
        text-align: center;
        & > a{
            color: $white;
            text-decoration: none;
            &:hover{
                color: $black1
            }
        }
   }
}
.header-menu.invisible{
    opacity: 1;
    z-index: 2;
}
.header-menu.fixed.Show{
    display: flex;
    animation: Show .4s forwards;
}
.header-menu.fixed{
    background: $orange;
    position: fixed;
    z-index: 3;
    left: 50%;
    display: none;
    opacity: 0;
    padding-bottom: 27px;
    transform: translateX(-50%)
}
.header-menu-item.Logo{
    font-size: 72px;
    margin: 0px 40px;
    & > a{
        &:hover{
            color: $white;
        }
    }
}
.header-menu-item.Soon{
    position: relative;
}
.header-menu-item .Soon{
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);

    & > a{
        color: rgba(255, 255, 255, 0.5);
        cursor: not-allowed;
    }
}
.header-text{
    z-index: 2;
    font-family: "Roboto",Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: $brown;
    background: url('../img/bgText.svg') no-repeat;
    background-size: contain;
    padding: 25px 32px 40px 55px;
    display: inline-block;
    margin-bottom: 70px;
}
.header-label span{
    display: inline-flex;
    background: url('../img/label.svg') no-repeat;
    background-size: contain;
    justify-content: space-around;
    align-items: center;
    padding: 20px 32px 25px 25px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: $white;
    margin-left: 40px;
    margin-bottom: 30px;
    & img{
        margin-left: 15px;
    }
}
.header-skin{
    position: absolute;
    right: 0;
    bottom: 2vh;
    & img{
        width: 769px;
        height: 765px;
    }
}
.header-slider{
   
    &-item{
        margin-left: 10px;
        min-width: 300px;
        width: 548px;
        max-width: 548px;
        height: 320px;
        position: relative;
        padding-left: 16px;
        font-family: 'Oswald',Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        box-shadow: 0px 0px 20px rgba(102, 1, 128, 0.4);
        &.purple{
            color: $purpleDark;
            background: $purple;
        }
        &.gold{
            color: $goldDark;
            background: $gold;
        }
        &-bg{
            position: absolute;
            right: 0;
            top: 0;
            width: 60%;
            max-width: 360px;
            height: 100%;
        }
        &-title{
            position: relative;
            z-index: 1;
            padding-top: 15px;
            font-size: 64px;
            margin-bottom: 15px;
        }
        &-subtitle{
            position: relative;
            z-index: 1;
            font-size: 24px;
            margin-bottom: 20px;
            padding-left: 3px;
        }
        &-rating{
            position: relative;
            z-index: 1;
            display: block;
            margin-bottom: 20px;
            svg{
                width: 17px;
                height: 17px;
                margin-right: 4px;
                path{
                    fill: $yellow;
                }
            }
        }
        &-prevPrice{
            font-size: 24px;
            padding: 0 10px;
            z-index: 1;
            position: relative;
            margin-left: -10px;
            -webkit-text-fill-color: rgba(255, 255, 255, 0.7); /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #6E0E87;
            display: inline-block;
            margin-bottom: 5px;
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;
                background: url('../img/priceLine.svg') no-repeat;
                background-size: 100%;
                background-position: center center;
            }
        }
        &-price{
            font-size: 36px;
            position: relative;
            z-index: 1;
            margin-bottom: 10px;
            -webkit-text-fill-color: $white; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #6E0E87;
        }
        &-btn{
            width: 240px;
            color: $black2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1;
            position: relative;
            padding: 0;
            margin: 0;
            border: none;
            background: transparent;
            cursor: pointer;
            span:nth-child(1){
                padding: 4px 55px;
                background: $yellow;
                display: inline-block;
                font-family: 'Oswald',Arial, Helvetica, sans-serif;
                font-weight: 700;
                font-size: 24px;
                text-transform: uppercase;
            }
            span:nth-child(2){
                padding: 3px 7px;
                background: $yellow;
                display: inline-block;
                font-family: 'Oswald',Arial, Helvetica, sans-serif;
                font-weight: 700;
                font-size: 24px;
                text-transform: uppercase;
            }
        }
    }
}
.slick-dots{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
  }
.slick-dots li{
    list-style-type: none;
    margin: 0 5px;
    padding: 0;
    display: inline-block;
}
.slick-dots li button{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display:inline-block;
    background: transparent;
    border: 2px solid $white;
    outline: none;
}
.slick-dots li.slick-active button{
    border: none;
    width: 22px;
    height: 22px;
    background: $white;
}
.sliderNavWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0
}
.prev{
    margin-right: 25px;
}
.next{
    margin-left: 25px;
}
.shopCaption{
    font-size: 72px;
    text-transform: uppercase;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    color: $blue;
    text-align: center;
    font-weight: 700;
}
.shopSubtitle{
    font-size: 18px;
    text-align: center;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 70px;
}
.shopRow{
    display: flex;
    justify-content: left;
    align-items: center;
    .sortBlock{
        margin-left: 30px;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        span{
            font-size: 18px;
            text-align: center;
            font-weight: 300;
            color: $gray;
            margin-right: 20px;
        }
        button{
            background: transparent;
            border: none;
            margin-right: 10px;
            font-size: 18px;
            img{
                margin-left: 5px;
            }
        }
    }
}

.shop{
    display: flex;
    padding: 50px 0px;
    flex-wrap: wrap;
    justify-content: center;
}
.shop-item{
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    width: 264px;
    padding: 10px;
    height: 539px;
    position: relative;
    background-size: contain;
    background-position-x: left;
    background-position-y: bottom;
    background-repeat: no-repeat;
    font-weight: bold;
    margin: 20px 30px;
    .margin-block{
        height: 43%;
    }

    &.purple{
        background-image: url('../img/purpleBg.svg');
        color: $purpleDark;
        
    }
    &.gold{
        background-image: url('../img/yellowBg.svg');
        color: $goldDark;
        
    }
    &.rare{
        background-image: url('../img/blueBg.svg');
        color: $blueDark;

    }
    &-rating{
        position: relative;
        z-index: 1;
        display: block;
        margin-bottom: 50px;
        svg{
            width: 17px;
            height: 17px;
            margin-right: 4px;
            path{
                fill: $yellow;
            }
        }
    }
    &-btn{
        width: 100%;
        color: $black2;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
        position: relative;
        padding: 0;
        margin: 0;
        border: none;
        background: transparent;
        font-weight: 700;
        cursor: pointer;
        span:nth-child(1){
            padding: 5px 55px;
            background: $yellow;
            display: inline-block;
            font-size: 24px;
            text-transform: uppercase;
            font-family: "Oswald", Arial, Helvetica, sans-serif;
        }
        span:nth-child(2){
            padding: 3px 7px;
            background: $yellow;
            display: inline-block;
            font-family: 'Oswald',Arial, Helvetica, sans-serif;
            font-size: 24px;
            text-transform: uppercase;
        }
    }
    &-title{
        font-size: 36px;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        line-height: 1.5;
        margin-bottom: 10px;
    }
    &-price{
        font-size: 36px;
        position: relative;
        z-index: 1;
        margin-bottom: 20px;
        -webkit-text-fill-color: $white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #6E0E87;
    }
    >img{
        position: absolute;
        width: 100%;
        height: 264px;
        top: 0;
        left: 0;
    }
}
.main-label span{
    min-width: 300px;
    display: inline-flex;
    background: url('../img/label.svg') no-repeat;
    background-size: contain;
    justify-content: space-around;
    align-items: center;
    padding: 20px 32px 25px 25px;
    font-family: "Oswald", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: $white;
    margin-left: 40px;
    & img{
        margin-left: 15px;
    }
}
.banner{
    background: $purpleGradient;
    height: 230px;
    position: relative;
    .container{
        padding-left: 10vw;
        padding-right: 80px;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &-skin{
        z-index: 0;
        position: absolute;
        bottom: 0px;
        left: 0;
    }
    &-left{
        width: 100%;
        float: left;
        clear: both;
        position: relative;
        z-index: 1;
    }
    &-title{
        font-size: 72px;
        text-transform: uppercase;
        color: $white;
        font-weight: 700;
        font-family: "Oswald", Arial, Helvetica, sans-serif;
        margin: 20px 0;
    }
    &-row{
        display: flex;
        align-items: center
    }
    &-subtitle{
        font-size: 18px;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        color:$white;
        line-height: 1.5;
        letter-spacing: 1.4px;
        max-width: 900px;
        margin-bottom: 20px;
    }
    &-btn{
        font-size: 24px;
        font-family: "Oswald", Arial, Helvetica, sans-serif;
        color: $black2;
        font-weight: 700;
        padding: 5px 55px;
        background: $yellow;
        border: none;
        text-transform: uppercase;
        display: block;
    }
    &-right{
        width: 600px;
        position: relative;
        z-index: 1;
    }
    .wrapItem{
        perspective: 900px;
        margin-top: -50px;
        display: flex;
        justify-content: flex-end;
        .header-slider-item{
            transform: rotateY(-15deg) rotateX(13deg) rotateZ(1deg)
        }
    }
}
footer{
    overflow: hidden;
    background: url('../img/Footer.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding-top: 50px;
    min-height: 300px;

}

@keyframes Show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1
    }
}
@media only screen and (max-width: 1600px){
    .basket{
        right: 5px;
    }
}